<div class="mt-5">
  <section>
    <div class="d-flex justify-content-center">
    <div class="card login-form text-white bg-info">
      <div class="card-header">
        <h5 class="text-center">Авторизуйтесь</h5>
      </div>
      <div class="card-body">
        <form #loginForm="ngForm">
          <div class="form-group">
            <label for="username">Логин:</label>
            <input id="username" class="form-control" type="text"
            placeholder="Логин" name="username" required
            [(ngModel)]="credentials.username" #username="ngModel">
            <div [hidden]="username.valid || username.pristine"
             class="text-danger">
             Введите логин
           </div>
          </div>
          <div class="form-group">
            <label for="password">Пароль:</label>
            <input id="password" class="form-control" type="password"
            placeholder="Пароль" name="password" required
            [(ngModel)]="credentials.password" #password="ngModel">
            <div [hidden]="password.valid || password.pristine"
             class="text-danger">
             Введите пароль
           </div>
          </div>
          <p> </p>
          <div class="text-center">
            <button class="btn btn-warning"
            (click)="login()"
            [disabled]="!loginForm.form.valid">
              <span class="ml-1">Войти</span>
            </button>
          </div>
          <div class="block"></div>
            <div class="text-center">
              <button class="btn btn-info"
                      [routerLink] ="'/register'">
                <span class="ml-1">Зарегистрироваться</span>
              </button>
          </div>
        </form>
      </div>
    </div>
    </div>
  </section>
</div>
