<body>
<div class="d-flex justify-content-center">
  <div class="col-md-6">


  <h2> Пользователи </h2>


  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden"></th>
      <th>Id</th>
      <th>Логин</th>
      <th>Права доступа</th>
      <th>Удалить аккаунт</th>
      <th>Назначить администратором</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
          <td class="hidden"></td>
          <td>{{user.id}}</td>
          <td>{{user.userCredentials.username}}</td>
          <td>{{user.userCredentials.role}}</td>
          <td><button [disabled] = "user.id == '87'" class="btn btn-warning" (click)="deleteUser(user)">Удалить</button></td>
          <td><button [disabled] ="user.userCredentials.role == 'ROLE_ADMIN'" class="btn btn-info" (click)="appointAdmin(user)">Администратор</button></td>
        </tr>
    </tbody>
  </table>
</div>
</div>
</body>



