<nav class="navbar navbar-expand-md navbar-dark bg-info">
  <a routerLink="" class="text-white" [ngClass]="{'hidden': !authService.isLoggedIn() }"
    (click)="logout()">
    <span class="ml-1">Выйти</span>
  </a>
  <a routerLink="/admin/event" class="text-white" [ngClass]="{'hidden': !isAdmin() }">
    <span class="ml-1">Все события</span>
  </a>
  <a routerLink=""  class="text-white" [ngClass]="{'hidden': !authService.isLoggedIn() }"
     (click)="events()">
    <span class="ml-1">Актуальные события</span>
  </a>
  <a routerLink="/user" class="text-white" [ngClass]="{'hidden': !authService.isLoggedIn() }"
     routerLinkActive="active">
    <span class="ml-1">Моя страница</span>
  </a>
  <a routerLink="/login" class="text-white" [ngClass]="{'hidden': authService.isLoggedIn() }"
  routerLinkActive="active">
    <span class="ml-1">Войти</span>
  </a>


</nav>
