<head>
  <link href="https://getbootstrap.com/docs/4.3/examples/album/album.css" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v3.8.5">
  <title>Album example · Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/docs/4.3/examples/album/album.css" rel="stylesheet">
</head>


<body>

<div class="album py-5 bg-light">

  <div class="container">
    <div class="d-flex justify-content-center">

      <div class="col-md-6">
        <div class="col-lg-offset-3">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="jumbotron-heading text-center">Добавить город</h3>
            </div>
            <div class="panel-body">
            </div>
            <form #cityForm="ngForm">
              <label for="newCity">Название города</label>
              <input class="form-control " type="text" placeholder="Название города"
                     name="newCity" id="newCity" minlength='2' required
                     [(ngModel)]="newCity" #newcity="ngModel">
              <div [hidden]='newcity.valid || newcity.pristine || !newcity.hasError("minlength")'
                   class="red">
                Введите название города
              </div>
              <div class="block"></div>
              <div class="text-center">
                <button class="btn btn-info btn-info" (click)="addCity()" [disabled]="!cityForm.form.valid">Сохранить
                </button>
                <p></p>
              </div>
            </form>
          </div>
        </div>

        <div class="col-lg-offset-3">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="jumbotron-heading text-center">Создайте событие</h3>
            </div>
            <div class="panel-body">
            </div>
            <form #addForm="ngForm">
              <div class="form-group">
                <label for="name" class="jumbotron-heading">Название<span class="red">*</span></label>
                <input class="form-control" type="text" placeholder="Название события"
                       name="name" id="name" required
                       [(ngModel)]="event.name" #eventName="ngModel">
                <div [hidden]="eventName.valid || eventName.pristine"
                     class="red">
                  Введите название
                </div>
              </div>

              <div class="form-group">
                  <div class="col-lg-offset-3">
                    <label for="type" class="jumbotron-heading">Тип мероприятия<span class="red">*</span></label>
                    <ng-select id="type"
                               name="type"
                               placeholder="Выберите..."
                               [searchable]="true"
                               [clearable]="false"
                               [(ngModel)]="event.eventType.name"
                               (change)="setType()"
                               required>
                      <ng-option [value]="eventType.name" *ngFor="let eventType of eventTypes">
                        {{eventType.name}}
                      </ng-option>
                    </ng-select>
                  </div>
              </div>

              <div class="panel panel-info">
                <div class="panel-body">
                  <h4 class="jumbotron-heading text-center">Опишите событие</h4>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-3">
                      <div *ngFor="let attribute of event.eventType.requiredAttributes">
                        <label for="required{{attribute.id}}">{{attribute.name}}<span class="red">*</span>:</label>
                        <div *ngIf="attribute.id == 2; else second">
                          <ng-select id="city"
                                     name="city"
                                     placeholder="Выбрать..."
                                     [searchable]="true"
                                     [clearable]="false"
                                     [(ngModel)]="event.valuesMap[attribute.id]"
                                     required>

                            <ng-option [value]="city" *ngFor="let city of cities.cityNames">
                              {{city}}
                            </ng-option>
                          </ng-select>
                        </div>

                        <ng-template #second>
                          <div *ngIf="attribute.id != 1; else third">
                          <input class="form-control" id="required{{attribute.id}}" name="{{attribute.id}}"
                                 [(ngModel)]="event.valuesMap[attribute.id]"
                                 #valueModel="ngModel"
                                 required>
                          <div [hidden]="valueModel.valid||valueModel.pristine"
                               class="red">
                            Заполните поле "{{attribute.name}}"
                          </div>
                          </div>
                        </ng-template>

                        <ng-template #third>
                          <input type = 'date' class="form-control" id="date" name="{{attribute.id}}"
                                 placeholder="дд.мм.гггг"
                                 [(ngModel)]="event.valuesMap[attribute.id]"
                                 #valueModel="ngModel"
                                 required>
                          <div [hidden]="valueModel.valid||valueModel.pristine"
                               class="red">
                            Заполните поле "{{attribute.name}}"
                          </div>
                        </ng-template>

                      </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-3">
                      <div *ngFor="let attribute of event.eventType.attributes">
                        <div *ngIf="!containRequired(event.eventType,attribute)">
                          <label for="{{attribute.id}}">{{attribute.name}}:</label>
                          <input class="form-control" id="{{attribute.id}}" name="{{attribute.id}}"
                                 [(ngModel)]="event.valuesMap[attribute.id]">
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-info btn-info" (click)="addEvent()" [disabled]="!addForm.form.valid">Сохранить
                </button>
                <p></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
