<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v3.8.5">
  <title>Album example · Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/docs/4.3/examples/album/album.css" rel="stylesheet">
</head>
<body>

<main role="main">
  <div class=" py-5 bg-light">
    <div class="text-center bg-light">
        <h2 class="jumbotron-heading">Мои данные</h2>
    </div>
    <div class="block"></div>

    <form #userForm="ngForm" >
      <div class="d-flex justify-content-center">
      <div class="form-group col-md-6 col-lg-offset-3">
        <label for ="login">Ваш логин</label>
        <output class="form-control" id= "login" name = "login">{{credentials.username}}</output>
      <label for="mail">Ваш e-mail (измените при необходимости)</label>
      <input id="mail" class="form-control" type="text" email placeholder='{{credentials.email}}' name='mail' ngModel
             [(ngModel)]="credentials.email" #mail="ngModel">
      <div [hidden]="mail.valid || mail.pristine"
           class="text-danger">
        Email введен неверно
      </div>
    </div>
      </div>
      <div class="d-flex justify-content-center">
      <div class="form-group col-md-6 col-lg-offset-3">
        <label for="city">Ваш город (измените при необходимости)</label>
        <ng-select id="city"
                   name="city"
                   placeholder="{{credentials.city}}"
                   [searchable]="true"
                   [clearable]="true"
                   [(ngModel)]="credentials.city"
                   >
          <ng-option [value]="city" *ngFor="let city of cities.cityNames">
            {{city}}
          </ng-option>
        </ng-select>
      </div>

  </div>

    <div class="text-center">
      <button class="btn btn-info" (click)="updateUserInformation()" [disabled]="!userForm.form.valid && !(mail.valid || mail.toString().length<1)">
        Сохранить
      </button>
    </div>

    </form>

  </div>


  <div class="text-center">
      <h2 class="jumbotron-heading">Хочу посетить:</h2>
  </div>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let event of simpleEventList">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <div class="card-text">
                <b>{{event.name}}</b>
                <div *ngFor="let value of event.valuesMap | keyvalue">
                  <div [ngSwitch]="value.key">
                    <div *ngSwitchCase="1">{{value.value }}</div>
                    <div *ngSwitchCase="3">{{value.value }}</div>
                    <div *ngSwitchCase="6">{{value.value }}</div>
                    <div *ngSwitchDefault></div>
                  </div>
                </div>
              </div>
              <p></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" [routerLink] ="['/event', event.id]" class="btn btn-sm btn-info">
                          Подробнее
                  </button>
                    <button type="button" class="btn btn-sm btn-warning" (click)="dislikeIt(event.id)">
                      Не интересно
                    </button>


                </div>
                <p></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>

