<head>
  <link href="https://getbootstrap.com/docs/4.3/examples/album/album.css" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v3.8.5">
  <title>Album example · Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/docs/4.3/examples/album/album.css" rel="stylesheet">
</head>


<body>
<div class="album py-5 bg-light">

  <div class="container">
    <div class="d-flex justify-content-center">

      <div class="col-md-8">
        <div class="col-lg-offset-3">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="jumbotron-heading text-center">{{myEvent.name}}</h3>
              <div class="block"></div>
            </div>
            <div class="panel-body">
            </div>
              <div *ngFor="let value of myEvent.valuesMap | keyvalue">
                <div *ngIf="value.key != 9 && value.key != 8 && value.key != 2">
                  <div class="cart-item">
                    <span><span class="font-weight-bold">{{getAttributeName(myEvent.eventType,value.key)}}:</span> {{value.value}}</span>
                  </div>
                </div>
              </div>

            <div class="block"></div>
          </div>
          <div class="text-center">
            <div class="block">
              <button class="btn btn-warning" [disabled] = "!isUrl()" (click)="goToUrl()">
                На сайт мероприятия
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>




<!--<img src="http://www.picshare.ru/view/10259504/"  alt="Aльтернативный текст">-->
<!--<section class="cart-name">-->
<!--    <h3 class="jumbotron-heading2">{{myEvent.name}}</h3>-->
<!--</section>-->
<!--  <div class="cart-item">-->
<!--      <span>{{myEvent.eventType.name}}</span>-->
<!--  </div>-->
<!--    <div *ngFor="let value of myEvent.valuesMap | keyvalue">-->
<!--        <div *ngIf="value.key !== 9 && value.key !== 8 && value.key !== 2">-->
<!--          <div class="cart-item">-->
<!--            <span>{{value.value}}</span>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->
<!--&lt;!&ndash;<p>{{urlString}}</p>&ndash;&gt;-->
<!--<a (click)="goToUrl()">На сайт мероприятия</a>-->

<!--&lt;!&ndash;{{urlString}}&ndash;&gt;-->


