<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v3.8.5">
  <title>Album example · Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/docs/4.3/examples/album/album.css" rel="stylesheet">
</head>
<body>

<!--<nav class="navbar navbar-expand-md navbar-dark bg-info">-->
<!--  <a routerLink="" class="text-white" [ngClass]="{'hidden': !authService.isLoggedIn() }"-->
<!--     (click)="logout()">-->
<!--    <span class="ml-1">Log out</span>-->
<!--  </a>-->
<!--  <a [routerLink]="'/admin/users'" class="text-white" [ngClass]="{'hidden': !authService.isLoggedIn() }">-->
<!--    <span class="ml-1">Users</span>-->
<!--  </a>-->
<!--</nav>-->


<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Аннонсёр</h1>
      <p class="lead text-muted">Здесь вы видите все добавленные мероприятия.</p>
      <div class="block">
      <button type="button" (click)="addEvent()" class="btn btn-block btn-info" >
        Добавить событие
      </button>
      </div>
      <div class="block">
      <button type="button" [routerLink]="'/admin/users'" class="btn btn-block btn-warning" >
        Управление пользователями
      </button>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">

        <div class="col-md-4" *ngFor="let event of simpleEventList">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <image src></image>
              <!--              <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>-->
              <!--              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
            </svg>
            <div class="card-body">
              <div class="card-text">
                <b>{{event.name}}</b>
                <div *ngFor="let value of event.valuesMap | keyvalue">
                  <div [ngSwitch]="value.key">
                    <div *ngSwitchCase="1">{{value.value }}</div>
                    <div *ngSwitchCase="3">{{value.value }}</div>
                    <div *ngSwitchCase="6">{{value.value }}</div>
                    <div *ngSwitchDefault></div>
                  </div>
                </div>
              </div>
              <p></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group" >
                  <button type="button"  [routerLink] ="['/admin/editEvent', event.id]" class="btn btn-sm btn-info">
                    <div class="card-text">Peдактировать</div>
                  </button>
                  <button type="button" (click)="deleteEvent(event.id) "class="btn btn-sm btn-danger">
                    <div class="card-text">Удалить</div>
                  </button>
                </div>
                <p></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>
</body>
</html>
