<head>
  <link href="https://getbootstrap.com/docs/4.3/examples/album/album.css" rel="stylesheet">

</head>


<body>
<div class="d-flex justify-content-center">
<div class="col-md-6 col-lg-offset-3">
  <h2 class="jumbotron-heading text-center">Создать аккаунт</h2>
  <form #registerForm="ngForm">
    <div class="form-group">
      <label for="name">Логин<span class="red">*</span></label>
      <input class="form-control" type="text" placeholder="Логин" name="name"  id="name"  required
             [(ngModel)]="credentials.username" #username="ngModel">
      <div [hidden]="username.valid || username.pristine"
           class="text-danger">
        Введите логин
      </div>
      <div [hidden]="username.pristine || credentials.username != oldLogin" class="text-danger">{{getRegisterStatus()}}</div>
    </div>

    <div class="form-group">
      <label for="password">Пароль<span class="red">*</span></label>
      <input id="password" class="form-control" type="password"  minlength='5' placeholder="Пароль" name="password" required
             [(ngModel)]="credentials.password" #password="ngModel">
      <div [hidden]="password.valid || password.pristine"
           class="text-danger">
        <div [hidden]='!password.hasError("minlength")' class='myError'>Минимальная длина пароля 5 символов!</div>
        Введите пароль
      </div>
    </div>

    <div class="form-group">
      <label for="mail">Email</label>
      <input id="mail" class="form-control" type="text" email placeholder='e-mail' name='mail' ngModel
             [(ngModel)]="credentials.email" #mail="ngModel">
      <div [hidden]="mail.valid || mail.pristine"
           class="text-danger">
        Email введен неверно
      </div>
    </div>

    <div class="text-center">
    <button class="btn btn-info" (click)="createUser()" [disabled]="!registerForm.form.valid">
      Зарегистрироваться
    </button>
    </div>
  </form>
</div>
</div>
</body>
