<head>
  <link href="https://getbootstrap.com/docs/4.3/examples/album/album.css" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v3.8.5">
  <title>Album example · Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/docs/4.3/examples/album/album.css" rel="stylesheet">
</head>

<body>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="d-flex justify-content-center">

      <div class="col-md-6">

        <div class="col-lg-offset-3">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="jumbotron-heading text-center">Редактируйте событие</h3>
            </div>
            <div class="panel-body">
            </div>
            <form #addForm="ngForm">
              <div class="form-group">
                <label for="name" class="jumbotron-heading">Название<span class="red">*</span></label>
                <input class="form-control" type="text"
                       name="name" id="name" required
                       [(ngModel)]="event.name" #eventName="ngModel">
                <div [hidden]="eventName.valid || eventName.pristine"
                     class="red">
                  Введите название
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-offset-3">
                  <label for="eventTypeField" class="jumbotron-heading">Тип мероприятия<span
                    class="red">*</span></label>
                  <ng-select id="eventTypeField"
                             name="eventTypeField"
                             [searchable]="true"
                             [clearable]="false"
                             [(ngModel)]="event.eventType.name"
                             (change)="setType()"
                             required>
                    <ng-option [value]="eventType.name" *ngFor="let eventType of eventTypes">
                      {{eventType.name}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>

              <div class="panel panel-info">
                <div class="panel-body">
                  <h4 class="jumbotron-heading text-center">Редактируйте описание</h4>
                </div>

                <div class="form-group">

                  <div class="col-lg-offset-3">
                    <div *ngFor="let attribute of event.eventType.requiredAttributes">
                      <label class="jumbotron-heading" for="required{{attribute.id}}">{{attribute.name}}<span
                        class="red">*</span></label>
                      <div *ngIf="attribute.id == 2; else second">
                        <ng-select id="city"
                                   name="city"
                                   [searchable]="true"
                                   [clearable]="false"
                                   [(ngModel)]="event.valuesMap[attribute.id]"
                                   required>
                          <ng-option [value]="city" *ngFor="let city of cities.cityNames">
                            {{city}}
                          </ng-option>
                        </ng-select>
                      </div>

                      <ng-template #second>
                        <input class="form-control" id="required{{attribute.id}}" name="{{attribute.id}}"
                               [(ngModel)]="event.valuesMap[attribute.id]"
                               #valueModel="ngModel"
                               required>
                        <div [hidden]="valueModel.valid||valueModel.pristine"
                             class="red">
                          Заполните поле "{{attribute.name}}"
                        </div>
                      </ng-template>

                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-offset-3">
                    <div *ngFor="let attribute of event.eventType.attributes">
                      <div *ngIf="!containRequired(event.eventType,attribute)">
                        <label class="jumbotron-heading" for="{{attribute.id}}">{{attribute.name}}</label>
                        <input class="form-control" id="{{attribute.id}}" name="{{attribute.id}}"
                               [(ngModel)]="event.valuesMap[attribute.id]">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-info" (click)="saveEvent()" [disabled]="!addForm.form.valid">Сохранить
                </button>
                <p></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>


